DB_HOST="rodovibe.escalasoft.com.br"
DB_PORT=21433
DB_USER="rodovibe_bi"
DB_PASS="N81(5YauC"
DB_DATABASE="rodovibe_escalasoft"
DATABASE_URL="sqlserver://localhost:1433;database=mydb;user=SA;password=randompassword;"